<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/java16.png">
         <run
               class="ilentt.ilenlab.com.rcp.workbench.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ilentt.ilenlab.com.rcp.workbench.Perspective"
            icon="icons/tool16.png"
            id="RCPWorkbench.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ilentt.ilenlab.com.rcp.cmd.AboutCommand"
            id="ilentt.ilenlab.com.rcp.cmd.about"
            name="About">
      </command>
      <command
            defaultHandler="ilentt.ilenlab.com.rcp.cmd.UserCommand"
            id="ilentt.ilenlab.com.rcp.cmd.user"
            name="Call UserEditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               tooltip="File">
            <command
                  commandId="ilentt.ilenlab.com.rcp.cmd.user"
                  icon="icons/editor16.png"
                  label="User Editor"
                  style="push"
                  tooltip="Open UserEditor">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/exit16.png"
                  label="Exit"
                  style="push"
                  tooltip="Exit">
            </command>
         </menu>
         <menu
               label="Help"
               tooltip="Help">
            <command
                  commandId="ilentt.ilenlab.com.rcp.cmd.about"
                  icon="icons/about16.png"
                  label="About"
                  style="push"
                  tooltip="About">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar0">
         </toolbar>
         <toolbar
               id="toolbar1">
            <command
                  commandId="ilentt.ilenlab.com.rcp.cmd.about"
                  icon="icons/about16.png"
                  label="About"
                  style="push"
                  tooltip="About">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/exit16.png"
                  label="Exit"
                  style="push"
                  tooltip="Exit">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ilentt.ilenlab.com.rcp.view.ContactView"
            icon="icons/contact16.png"
            id="ilentt.ilenlab.com.rcp.view.contact"
            name="Contact"
            restorable="true">
      </view>
      <view
            class="ilentt.ilenlab.com.rcp.view.CategoryView"
            icon="icons/category16.png"
            id="ilentt.ilenlab.com.rcp.view.category"
            name="Category"
            restorable="true">
      </view>
      <view
            class="ilentt.ilenlab.com.rcp.view.HistoryView"
            icon="icons/history16.png"
            id="ilentt.ilenlab.com.rcp.view.history"
            name="History"
            restorable="true">
      </view>
      <view
            class="ilentt.ilenlab.com.rcp.view.TaskView"
            icon="icons/task16.png"
            id="ilentt.ilenlab.com.rcp.view.task"
            name="Task"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="ilentt.ilenlab.com.rcp.view.task"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="RCPWorkbench.perspective">
         <view
               closeable="true"
               id="ilentt.ilenlab.com.rcp.view.contact"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="true"
               id="ilentt.ilenlab.com.rcp.view.category"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="ilentt.ilenlab.com.rcp.view.contact">
         </view>
         <view
               closeable="true"
               id="ilentt.ilenlab.com.rcp.view.history"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="ilentt.ilenlab.com.rcp.view.contact"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ilentt.ilenlab.com.rcp.editor.UserEditor"
            default="false"
            icon="icons/user16.png"
            id="ilentt.ilenlab.com.rcp.editor.user"
            name="User Editor">
      </editor>
   </extension>

</plugin>
